<a href="https://colab.research.google.com/github/Arielhutabarat/Pemerograman-Dasar/blob/main/PERTEMUAN2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
firstName = "Ariel"
lastName = "Hutabarat"
age = 20
isMarried = False

print (firstName)
print (lastName)
print (age)
print (isMarried)

Ariel
Hutabarat
20
False

In [ ]:
data_diri = {
    "firstName": "Ariel",
    "lastName": "Hutabarat",
    "age": 20,
    "isMarried": False}

print (data_diri)

{'firstName': 'Ariel', 'lastName': 'Hutabarat', 'age': 20, 'isMarried': False}

In [ ]:
inspeksi = [
    "pemahaman terhadap rencana dan desain",
    "ketersediaan bahan dan peralatan",
    "pengawasan pekerjaan",
    "kualitas konstruksi",
    "keselamatan kerja",
    "koordinasi dengan pemilik proyek"
]

print("Daftar Inspeksi Proyek:")
for i, item in enumerate(inspeksi, start=1):
    print(f"{i}. {item}")

Daftar Inspeksi Proyek:
1. pemahaman terhadap rencana dan desain
2. ketersediaan bahan dan peralatan
3. pengawasan pekerjaan
4. kualitas konstruksi
5. keselamatan kerja
6. koordinasi dengan pemilik proyek

In [ ]:
startTime = {
    "HH": 9,
    "mm": 23,
    "ss": 57}

endTime = {
    "HH": 15,
    "mm": 25,
    "ss": 43}

print("Waktu Datang :", startTime)
print("Waktu Pulang :", endTime)

Waktu Datang : {'HH': 9, 'mm': 23, 'ss': 57}
Waktu Pulang : {'HH': 15, 'mm': 25, 'ss': 43}

In [ ]:
katalog_A = {"Panci", "Wajan", "Sendok", "Garpu"}
katalog_B = {"Piring", "Gelas", "Sendok", "Pisau"}

produk_diskon = ("Wajan", "Pisau", "Blender", "Piring")

katalog_lengkap = katalog_A.union(katalog_B)

produk_promo_aktif = katalog_lengkap.intersection(produk_diskon)

print("Katalog Lengkap       :", katalog_lengkap)
print("Produk Promo Aktif    :", produk_promo_aktif)

Katalog Lengkap       : {'Pisau', 'Garpu', 'Wajan', 'Panci', 'Gelas', 'Sendok', 'Piring'}
Produk Promo Aktif    : {'Piring', 'Pisau', 'Wajan'}

In [ ]:
# deklarasi variabel list
numbers = [23, 43, 15, 34]
# cara mengakses elemen dalam variabel list
numbers[0] # 23
numbers[1] # 43
numbers[2] # 15
numbers[3] # 34
# cara mengubah nilai elemen dalam variabel list
numbers[2] # 51
numbers[2] # 51

print(numbers[0])
print(numbers[1])
print(numbers[2])
print(numbers[3])

print(numbers[2])
print(numbers[2])

23
43
15
34
15
15

In [65]:
# deklarasi variabel list numbers
numbers = [1, 2, 3]

# menambahkan elemen di indeks ke-4
numbers.insert(4, 5) # [1, 2, 3, 5]

# mengubah elemen di indeks ke-3
numbers[3] = 4 # [1, 2, 3, 4]

# menghapus elemen di indeks ke-2
numbers.pop(2) # [1, 2, 4]

print(f"original list: {numbers}" )
print(f"After insert(4, 5) : {numbers}")
print(f"After numbers[3]) = 4: {numbers}")
print(f"After pop(2: {numbers}")

original list: [1, 2, 4]
After insert(4, 5) : [1, 2, 4]
After numbers[3]) = 4: [1, 2, 4]
After pop(2: [1, 2, 4]

In [ ]:
# deklarasi variabel list
myList = [1,"rumah", 4.5, True, ["kamar mandi", "kamar tidur"]]

# cara mengakses elemen dalam variabel list
myList [0]  # 1
myList [1]  # "Rumah"
myList [3]  # True
myList [4]  # ["kamar mandi", "Kamar tidur"]

# cara mengakses elemen dalam sublist
myList [4][0]  # "Kamar mandi"
myList [4][1]  # " Kamar tidur"

print(myList)
print(myList[0])
print(myList[1])
print(myList[3])
print(myList[4])
print(myList[4][0])
print(myList[4][1])

[1, 'rumah', 4.5, True, ['kamar mandi', 'kamar tidur']]
1
rumah
True
['kamar mandi', 'kamar tidur']
kamar mandi
kamar tidur

In [ ]:
# deklarasi variabel tuple
numbers = (23, 43, 15, 34)

# cara mengakses elemen dalam variabel tuple
numbers[0]   #23
numbers[1]   #43
numbers[2]   #15

print(numbers)
print(numbers[0])
print(numbers[1])
print(numbers[2])

(23, 43, 15, 34)
23
43
15